# ignore everything
*

# Don't ignore .c or .h files
!*.c
!*.h

# Don't ignore shell scripts
!*.sh

# Don't ignore fileio, binary, or mount directories
!fileio/
!binary/


# Don't ignore README or .gitignore
!README.md
!.gitignore
