# ignore everything
*

# Don't ignore .c or .h files
!*.c
!*.h

# Don't ignore shell scripts
!*.sh

# Don't ignore textfiles, could be notes, todo, instructions, etc
!*.txt

# Don't ignore README or .gitignore
!README.md
!.gitignore
